body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #00b5ff;
}

header {
  background-color: #87ceeb; /* Azul Claro */
  color: #fff;
  text-align: center;
  padding: 20px;
}

.content {
  margin: 2rem;
}

.link {
  margin: 2rem;
}

.menu {
  max-width: 600px;
  margin: 20px auto;
}

.menu h2 {
  color: #87ceeb; /* Azul Claro */
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.contato {
  background-color: #f8f8f8;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
